<body id="main_page">
<header id="header" class="clearfix">
<a href="/" class="logo shadowed">
  CLOUDBASE
</a>

<ul class="nav nav-pills pull-right shadowed" id="top-menu">
  <li><a href="#" id="bar-link">Home</a></li>
  <li><% if current_user %>
    <%= link_to "Sign out", signout_path, id: "bar-link" %>
    <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "bar-link" %>
    <% end %>
    <!-- <a href="/console" id="bar-link">Login</a></li> -->
</ul>

<form class="form-inline top-search shadowed">
  <input type="text" class="form-control" placeholder="Search for anything...">
  <button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</form>
</header>
<!-- <img src="assets/Personal-Cloud-Storage.jpg" alt="" height="700" width="100%"/> -->
<div id="page">
<img src="assets/DropBox.png" id="dropbox-img" alt="" height="200" width="230"/>
<img src="assets/google.png" id="google-img" alt="" height="230" width="200"/>
<img src="assets/box.png" id="box-img" alt="" height="200" width="230"/>
<br>
<div id="title">
  One cloud to rule them all
</div>
<br>
<img src="assets/mega.png" id="mega-img" alt="" height="200" width="220"/>
<img src="assets/sugersync.png" id="sugersync-img" alt="" height="250" width="200"/>
<img src="assets/OneDrive.png" id="onedrive-img" alt="" height="200" width="230"/>
</div>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
  </div>
</div>
</body>
