<header id="header" class="clearfix">
  <a href="/" class="logo shadowed">
    CLOUDBASE
  </a>

  <ul class="nav nav-pills pull-right shadowed" id="top-menu">
    <li><a href="#" id="bar-link">Home</a></li>
    <li><a href="/" id="bar-link">Logout</a></li>
  </ul>

  <form class="form-inline top-search shadowed">
    <input type="text" class="form-control" placeholder="Search for anything...">
    <button type="submit"><i class="icon-search"></i></button>
  </form>
</header>


<aside id="leftbar" class="pull-left">
  <div class="sidebar-container">
    <!-- Main Menu -->
    <ul class="side-menu shadowed">
      <li>
        <a href="/" id="sidebar-text"><img src="assets/google.png" height="20" width="20"/>  Google Drive</a>
      </li>
      <li>
        <a href="/" id="sidebar-text"><img src="assets/DropBox.png" height="25" width="20"/> DropBox</a>
      </li>
      <li>
        <a href="/" id="sidebar-text"><img src="assets/box.png" height="20" width="20"/> Box</a>
      </li>
      <li>
        <a href="/" id="sidebar-text"><img src="assets/sugersync.png" height="20" width="20"/> SugarSync</a>
      </li>
      <li>
        <a href="/" id="sidebar-text"><img src="assets/OneDrive.png" height="20" width="20"/> OneDrive</a>
      </li>
      <li>
        <a href="/" id="sidebar-text"><img src="assets/mega.png" height="20" width="20"/> Mega</a>
      </li>
    </ul>
  </div>
  <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
    <i class="icon-angle-right"></i>
  </span>
</aside>

<div class="container" id="file-background">
  <div id="file-text">

  <%= 5.times do %>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  </div>
<% end %></div>
